{
    "OdsConfig": {
        "Server": "",
        "Database": "",
        "Trusted_Connection": "",
        "Username": "",
        "Password": ""
    },
    "CedsConfig": {
        "Server": "",
        "Database": "",
        "Trusted_Connection": "",
        "Username": "",
        "Password": ""
    }
}